<key>ForceSync</key>
<true/>
<key>HideFirstRunExperience</key>
<integer>1</integer>
<key>ShowHomeButton</key>
<true/>
<key>DefaultBrowserSettingEnabled</key>
<true/>
<key>HideFirstRunExperience</key>
<true/>
<key>ConfigureDoNotTrack</key>
<true/>
<key>HomepageIsNewTabPage</key>
<true/>
<key>NewTabPageSetFeedType</key>
<integer>1</integer>
<key>RestoreOnStartup</key>
<integer>1</integer>
<key>AdsSettingForIntrusiveAdsSites</key>
<integer>2</integer>
<key>FamilySafetySettingsEnabled</key>
<false/>
<key>TrackingPrevention</key>
<integer>2</integer>
<key>PasswordMonitorAllowed</key>
<true/>
<key>PasswordProtectionWarningTrigger</key>
<true/>
<key>DownloadRestrictions</key>
<integer>1</integer>
<key>SmartScreenEnabled</key>
<true/>
<key>SmartScreenPuaEnabled</key>
<true/>
<key>SmartScreenForTrustedDownloadsEnabled</key>
<true/>
<key>PreventSmartScreenPromptOverrideForFiles</key>
<true/>
<key>PreventSmartScreenPromptOverride</key>
<true/>